@import 'main';

.main{
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
}

.hero-main{
    display: flex;
    gap: 5rem;
}
.main .container{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}


.hero{
    width: 100%;
    padding: 8vw 2vw;
    position: relative;
    z-index: 10;
    height: fit-content;
    
}

.hero{
    position: relative;
    >h1{
        font-family: $cagliostro;
        font-weight: 900;
        width: 80%;
        font-size: 4.6rem;
        line-height: 4.6rem;
    }
    >.button{
        background: $red;
        display: flex;
        width: fit-content;
        color: #fff;
        color: #e8e8e8f8;
        align-items: center;
        gap:10px;
        margin-top: 2rem;
        font-size: 2rem;
        padding: 1rem 2rem;
        >span{
           display: inline-block;
           position: relative;
           z-index: 4;
           width: 2.5rem;
           >svg{
            fill: $white;
            font-size: 2rem;
            width: 2.5rem;
           }
        }
        >button{
         font-family: $cagliostro;
         font-family: 900;
        }
    }
    >p{
        font-size: 2.5rem;
        font-family: $fredoka;
        font-weight: 500;
        color: #000000e7;
        filter: blur(.5px);
        margin-top: 1rem;
    }
    >img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40%;
    }
}

.menu{
    display: none;
}
.hero-con{
    padding: 0;
    object-fit: cover;
    position: relative;
   >img{
    position: absolute;
    bottom: -10%;
    left: 0;
    z-index: 3;
    width: 100px;
   }
}


@media screen  and (max-width:800px){
      html{
        font-size: 40%;
      }
      .hero-main{
        flex-direction: column-reverse;
      }
      .hero{

        padding: 2rem 2.5rem ;
        >h1{
            width: 100%;
            font-size: 2.6rem;
            line-height: 2.7rem;
        }
        p{
            font-size: 1.8rem;
            width: 70%;
        }
        >img{
            width: 40%;
        }
        
      }
}
@media screen  and (max-width:500px){
    html{
        font-size: 39%;
    }
    .hero-main{
        gap: 5rem;
    }
    .hero{
        h1{
            width: 100%;
        }
        p{
            width: 100%;
        }
    }

    .nav-main{
        // width: 100%;
        position: relative;        
    }
   .nav-main .navbar{
         display: flex;
         flex-direction: column;
        position: absolute;
        top: 20%;
        left: 0%;
        padding-top: 10%;
        text-align: center;
        // display: block;
        height: 100vh;
        width: 100%;
      }

     .menu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        >svg{
            fill: $brown;
        }
     }
}
